<% layout("/layouts/boilerplate.ejs") %>
<div class="m-auto my-auto">
  <h1 class="mb-3">Thank you for reservation !</h1>
  <div style="margin-left: 35%; margin-top: 20px; margin-bottom: 50px">
    <h3>Hello, <b><%= user %></b> your reservation details :</h3>
    <h4>Property Name : <%= result.title %></h4>
    <h4>Property Location : <%= result.location %></h4>
    <h4>Date Detail : From <%= checkIn%> To <%= checkOut %></h4>
    <h4>Total Price : <%= result.price*daysDifference %></h4>
    <h4>Any Suggestion : <%= suggestion %></h4>
  </div>
  <form action="/lidting" class="text-center mt-2">
    <div class="col-auto">
      <button type="submit" class="btn btn-secondary mb-3">Back to home</button>
    </div>
  </form>
</div>
